body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
	height: 100px;
	margin: 10px;
}

button {
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 1rem;
}

.login-btn {
	background-color: #9d9e9f;
	color: #fff;
	margin-right: 10px;
	font-size: 1.5rem;
}

.login-btn:hover {
	background-color: #7e7f8a;
}

.register-btn {
	background-color: #007BFF;
	color: #fff;
	margin-right: 10px;
	font-size: 1.5rem;
}

.register-btn:hover {
	background-color: #0056b3;
}


.feature-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-top: 60px;
	height: 30vh;
}

.feature1-left {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 33%;
	background-color: #6a6a6a;
	color: white;
	font-size: 2rem;
	line-height: 1.5;
	padding: 20px;
	height: 100%;
	align-items: center;
}

.feature1-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 66%;
	background-color: #3f3f3f;
	height: 100%;
	padding: 20px;
}

.spacing {
	display: block;
	width: 100%;
	height: 60px;
}

.feature2-left {
	display: flex;
	flex-direction: column;
	background-color: #cccc;
	gap: 10px;
	width: 60%;
	height: 100%;
	align-items: center;
	padding: 20px;
}

.feature2-right {
	display: flex;
	flex-direction: column;
	background-color: #cccc;
	align-items: center;
	width: 40%;
	height: 100%;
	align-items: center;
	padding: 20px;
}

h1 {
	color: #007BFF;
}

.feature3-left {
	display: flex;
	flex-direction: column;
	background-color: #cccc;
	align-items: center;
	width: 40%;
	height: 100%;
	align-items: center;
	padding: 20px;
}

.feature3-right {
	display: flex;
	flex-direction: column;
	background-color: #cccc;
	gap: 10px;
	width: 60%;
	height: 100%;
	align-items: center;
	padding: 20px;
}

.banner {
	display: flex;
	flex-direction: row;
	background-color: #007BFF;
	opacity: 0.8;
	border-top: solid 2px #0056b3;
	border-bottom: solid 2px #0056b3;
	height: 100px;
	align-items: center;
	margin-top: 80px;
}

.banner-text {
	color: #fff;
	width: 70%;
	font-size: 2rem;
	padding-left: 100px;
}


